.header{
   display:grid;
   grid-template-columns: 1fr 5fr 1fr;
   align-items: center;
   grid-template-rows: 50px auto;
}

.name1{
    font-size: 65px;

}
.name2 {grid-column: 2/3;
    font-size: 95px;
    align-content:;
}
.logo{
    grid-row: 1/3;
}

.Request{
    color: white;
    background-color: darkturquoise;
    font-size: 25px;
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 100px;
    right:100px;
}

.highlight {
    height: 90vh;
    padding-top: 20px;
    background-image: url(Inclusivitiy.jpg);
    background-size: cover;
}
.highlight>p {
    font-size: 45px;
    text-align: center;
}

 nav {
background: darkcyan;
color: white;
top: 0;
width: 100%;
transition: all 0.5s;
position: relative;
z-index: 1;
}

.fixed-nav nav{
    position: fixed;
}

nav ul {
margin: 0;
padding:0;
list-style: none;
display: flex;
}

nav li {
flex: 1;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

nav a:link,:visited{color: white;
text-decoration-line: none;}

.section_headings {
    text-align: center;
}

.services {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 30px;
    
}

.services > div {
    width: 180px;
    height: 180px;
    border: 2px solid black;
    margin: 2px;
    background-color: darkturquoise;
}
.services > div> img{
    height: 55px;
    width: 55px;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: darkcyan;
    color: white;
    padding: 5px;
    align-items: end;
    text-align: center;
}
.mission{
    font-size: 25px;
    grid-template-columns: 0/2;
}

.disclaimer{
    grid-template-columns: 4/5;
}

.Options {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns:1fr 1fr 1fr;
    row-gap: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 75px;
    background-image: url(Deafandhh.jpg);
    
}

.Options > div {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 2px;
    background-color: darkturquoise;
}

.hero{
    background-image: url(Learningtogether.jpg);
    height: 80vh;
    background-size: cover;
    align-items: end;
}
.hero > h2 {
    background-color: white;
    color:darkcyan;
    font-size: x-large;
}

.program {
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
.program_leader{
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-size: x-large;
    text-align: center;
}
.how_it_works{
    background-color: darkcyan;
    color: white;
    font-size: x-large;
    text-align: center;
}

form {
    background-color: aqua;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.formgroup {
  display: flexbox;
  align-items: center;
  padding-bottom: 8px;
}

.Question {
  width: 60vw;
  height: 20vh
}